body{
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url('image/ai.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


nav ul li a:hover{
    transition: 0.5s ease;
    background-color: skyblue;
}
.main{
    
    padding-left: 50px;
    position: relative;
    padding-top: 160px;
    width: 50%;
}
.main h1{
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 800;
    margin-bottom: 25px;
}
.main p{
    font-size: 18px;
    color: white;
    margin-bottom: 50px;
    letter-spacing: 1px;
}
.main .btn{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(21, 202, 21); 
} 

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  nav{
    height: 80px;
    background-color: greenyellow;
    width: 100%;
  }
  .logo img{
    
    width: 100px;
    
  }
  nav ul{
    float: right;
    margin-right: 40px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
  }
  nav ul li a{
    text-transform: uppercase;
    background-color:aqua ;
    padding: 7px 13px;
    border-radius: 5px;
  }
  .checkbtn img{
    width: 30px;
    float: right;
    display: flex;
    margin-top: 22px;
    cursor: pointer;
    margin-right: 20px;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px) {
    .logo img{
     width: 150px;
      padding-left: 50px;
    }
    
    
  }
  @media (max-width: 858px){
    .checkbtn img{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      
      background-color: grey;
      top: 80px;
      left: -100%;
      transition: all .5s;
      text-align: center;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    #check:checked~ul{
      left: 0;
    }
  }

  body{
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: black;
}
.navigation a{
    position: relative;
    font-size: 1em;
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
button{
    width: 100%;
    height: 45px;
    background-color: rgb(4, 209, 4);
    color: white;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    font-size: 1em;
    transition: 3s;
}
button:hover{
    background-color: rgb(67, 216, 67);
    color: gray;
}
.container{
    position: relative;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px #ffff;
    border-radius: 20px;
    border: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 100%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;

}

input{
    width: 100%;
    border-radius: 5px;
}

.rem{
    margin: -5px 0 15px;
    display: flex;
    justify-content: space-between
    
}
#forgotpassword{
    text-decoration: none;
    color: white;
    padding-left: 100px;
}
#forgotpassword:hover{
    text-decoration: underline;
}
p{
    text-align: center;
    margin: 25px 0 10px;
    color: rgb(4, 209, 4);
}
#sign{
    text-decoration: none;
    color: white;
}
#sign:hover{
    text-decoration: underline;
}
img{
    position: absolute;
    width: 150px;
    margin-bottom: 300px;
    padding-top: 15px;
}
#email{
    width: 100%;
    height: 40px;
    background-color: rgb(212, 212, 212);
    border: none;
    padding-left: 15px;
}
label{
  color: white;
}
#password{
    width: 100%;
    height: 40px;
    background-color: rgb(212, 212, 212);
    border: none;
    padding-left: 15px;
}
#newcheck{
  width: 20px;
  height: 15px;
  border: 2px;
  border: none;
  }